body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    

    /* DEBUG BORDERS */
    border-style: solid;
    border-width: 2px; 
    border-color: #00FF00; 
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;

    /* DEBUG BORDERS */
    border-style: solid;
    border-width: 2px; 
    border-color: #00FF00; 
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.right-side {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    /* DEBUG BORDERS */
    border-style: solid;
    border-width: 2px; 
    border-color: #00FF00; 
}

.first-section {
    background-color: #1F2937;
    display: flex;
    flex: 1;

    /* DEBUG BORDERS */
    border-style: solid;
    border-width: 2px; 
    border-color: #00FF00; 
}

.second-section {
    flex: 1;
    /* DEBUG BORDERS */
    border-style: solid;
    border-width: 2px; 
    border-color: #00FF00; 
}

.third-section {
    flex: 1;
    /* DEBUG BORDERS */
    border-style: solid;
    border-width: 2px; 
    border-color: #00FF00; 
}

.fourth-section {
    flex: 1;
    /* DEBUG BORDERS */
    border-style: solid;
    border-width: 2px; 
    border-color: #00FF00; 
}

.footer {
    background-color: #1F2937;
    color: #e5e5e5;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin-top: auto;

    /* DEBUG BORDERS */
    border-style: solid;
    border-width: 2px; 
    border-color: #00FF00; 
}



ul {
    list-style: none;
    margin: 0;
    padding: 0;
}